.to {
    width: 250px;
    display: flex;
    height: 35px;
    border: 2px solid rgba(0, 0, 0, 1);
    transition: .3s;
    align-items: center;
    padding-left: 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
}